<?xml version="1.0"?>
<launch>

<!-- for reconfigure run:       -->
<!-- rosrun rqt_reconfigure rqt_reconfigure -->
<!-- for view stereo run: -->
<!--rosrun image_view stereo_view stereo:=/stereo image:=image_rect_color   -->

    <!--<node name="divide_to_ros" pkg="zed_worker" type="divide_to_ros.py" output="screen"></node>-->

    <include file="$(find zed_cpu_ros)/launch/zed_cpu_ros.launch">
    </include>

    <node name="stereo_image_proc" args="stereo:=/stereo image:=image_rect_color" ns="stereo" pkg="stereo_image_proc" type="stereo_image_proc" output="screen">
    </node>
	<node pkg="stereopilot" type="stereopilot" name="stereopilot" required="true" clear_params="true" output="screen">
		<param name="max_out_fps" value="5" />
		<!-- <param name="use_sim_time" value="false"/> -->
	</node>
</launch>
